@model SPEvents.Models.EventUser

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this member?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contactnumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contactnumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.workcontact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.workcontact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.address1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.address1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.address2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.address2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.postcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.postcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.city)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.city)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.workplace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.workplace)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="euid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
